---
{{ if .Env.PW_PREV_DAY -}}
title: "＜ここにタイトルを入力＞｜Productivity Weekly ({{ .Env.PW_YEAR }}-{{ .Env.PW_MONTH }}-{{ .Env.PW_DAY }}号, {{ .Env.PW_PREV_YEAR }}-{{ .Env.PW_PREV_MONTH }}-{{ .Env.PW_PREV_DAY }}号)"
{{- else -}}
title: "＜ここにタイトルを入力＞｜Productivity Weekly ({{ .Env.PW_YEAR }}-{{ .Env.PW_MONTH }}-{{ .Env.PW_DAY }}号)"
{{- end }}
emoji: ""
type: "idea"
topics: ["ProductivityWeekly", "生産性向上"]
published: false
publication_name: "cybozu_ept"
user_defined: {"publish_link": "https://zenn.dev/korosuke613/articles/productivity-weekly-{{ .Env.PW_YEAR }}{{ .Env.PW_MONTH }}{{ .Env.PW_DAY }}"}
---

こんにちは。サイボウズ株式会社 [生産性向上チーム](https://note.com/cybozu_dev/n/n1c1b44bf72f6)の平木場です。

僕たち生産性向上チームは毎週水曜日に Productivity Weekly という「1 週間の間に発見された開発者の生産性向上に関するネタを共有する会」を社内で開催しています。
本記事はその時のネタをまとめたものです。


2023-01-25 号から、基本的に隔週で連載することとしました。たまに単独でも投稿するかもしれません。
{{ if .Env.PW_PREV_DAY -}}
今週は {{ .Env.PW_YEAR }}-{{ .Env.PW_MONTH }}-{{ .Env.PW_DAY }}, {{ .Env.PW_PREV_YEAR }}-{{ .Env.PW_PREV_MONTH }}-{{ .Env.PW_PREV_DAY }} 合併号です。
{{- else -}}
今週は {{ .Env.PW_YEAR }}-{{ .Env.PW_MONTH }}-{{ .Env.PW_DAY }} 単独号です。
{{- end }}

今回が第 {{ .Env.PW_COUNT }} 回目です。過去の記事は[こちら](https://zenn.dev/topics/productivityweekly?order=latest)。

:::message
2023-05-10 号から、実験的に生産性向上チームの他メンバーにいくつかのトピックを紹介していただくことにしています。

対象のトピックでは、文章の最後に `本項の執筆者: <執筆者名>` を追加しています。

<!-- _本項の執筆者: [@korosuke613](https://zenn.dev/korosuke613)_ -->
<!-- _本項の執筆者: [@defaultcf](https://zenn.dev/defaultcf)_ -->
<!-- _本項の執筆者: [@Kesin11](https://zenn.dev/kesin11)_ -->
<!-- _本項の執筆者: [@r4mimu](https://zenn.dev/r4mimu)_ -->
<!-- _本項の執筆者: [@uta8a](https://zenn.dev/uta8a)_ -->

今週の共同著者は次の方です。
- [@korosuke613](https://zenn.dev/korosuke613)
<!-- - [@defaultcf](https://zenn.dev/defaultcf) -->
<!-- - [@Kesin11](https://zenn.dev/kesin11) -->
<!-- - [@r4mimu](https://zenn.dev/r4mimu) -->
<!-- - [@uta8a](https://zenn.dev/uta8a) -->

:::

# news 📺

# know-how 🎓

# tool 🔨

# read more 🍘
Productivity Weekly で出たネタを全て紹介したいけど紹介する体力が持たなかったネタを一言程度で書くコーナーです。

- **news 📺**
- **know-how 🎓**
- **tool 🔨**

# あとがき


サイボウズの生産性向上チームでは社内エンジニアの開発生産性を上げるための活動を行なっています。そんな生産性向上チームが気になる方は下のリンクをクリック！
https://speakerdeck.com/cybozuinsideout/engineering-productivity-team-recruitment-information

<!-- :::message すみません、今週もおまけはお休みです...:::-->

## omake 🃏: 
今週のおまけです。
